.itemSkill {
  width: 50%;
  height: 2.7rem;
  display: flex;
  margin: 10px 0;
  align-items: center;
}
.itemSkill > img {
  width: 2.5rem;
}
.itemSkill > p {
  font-size: large;
  color: aliceblue;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}
