.conten-nav {
  width: 100%;
  background-color: #21222f;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.555);
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: -2px;
}
.nav {
  margin-top: 0.5rem;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__img {
  width: 70px;
}
.burger {
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.burger__item,
.burger__item::after,
.burger__item::before {
  width: 90%;
  height: 7px;
  border-radius: 100px;
  background-color: #09cef9;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  position: relative;
  transition: 0.5s;
}
.burger__item::after,
.burger__item::before {
  content: "";
  width: 100%;
  top: 12px;
  position: absolute;
}
.burger__item::before {
  top: -12px;
}
.active .burger__item {
  background: transparent;
  box-shadow: none;
}
.active .burger__item::after {
  top: 0;
  transform: rotate(45deg);
}
.active .burger__item::before {
  top: 0;
  transform: rotate(-45deg);
}
.burger__inactive {
  display: none;
}
.nav__links {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100vh;
  font-size: 25px;
  top: 0;
  right: -60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.419);
  position: absolute;
  transition: 0.5s;
}
.active_nav {
  right: 0;
}
@media (min-width: 600px) {
  .nav {
    margin-top: 1rem;
    width: 85%;
  }
  .nav__img {
    width: 85px;
  }
  .burger {
    width: 4rem;
    height: 4rem;
  }
  .burger__item,
  .burger__item::after,
  .burger__item::before {
    height: 9px;
  }
  .burger__item::after,
  .burger__item::before {
    top: 16px;
  }
  .burger__item::before {
    top: -16px;
  }
}
@media (min-width: 1000px) {
  .nav {
    margin-top: 0;
    width: 80%;
    max-width: 150rem;
  }
  .nav__links {
    position: relative;
    height: auto;
    right: 0;
    text-align: end;
    display: inline-block;
    width: 100%;
    box-shadow: none;
  }
  .nav__img {
    width: 120px;
  }

  .burger {
    display: none;
  }
}
