.loader {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/teclado.jpg);
  background-position: center;
  background-size: cover;
}
.loader__conten {
  width: 100vw;
  height: 100vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.487);
  backdrop-filter: blur(5px);
  font-family: Truculenta;
}
.loader__conten-logo {
  width: 60%;
}
.loader__conten-text {
  width: 60%;
  font-size: 2.5rem;
  font-variant: bold;
  margin: 0;
  text-align: center;
}
.loader__conten-btn {
  font-size: 2rem;
  padding: 0 1%;
  margin: 25px;
  border-radius: 15px;
  border: 2px solid #09cef9;
  color: aliceblue;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
}
.loader__conten-btn:hover {
  border: 2px solid #8728ff;
}
.app {
  width: 100%;
  height: 100%;
}
.conten {
  overflow-x: hidden;
  position: relative;
}

.active {
  transition: 5s;
  right: 200%;
}

@media (min-width: 800px) {
  .loader__conten-logo {
    width: 50%;
  }
  .loader__conten-text {
    font-size: 5rem;
  }
  .loader__conten-btn {
    font-size: 5rem;
  }
}

@media (min-width: 1300px) {
  .loader__conten-logo {
    width: 30%;
  }
  .loader__conten-text {
    font-size: 5rem;
  }
  .loader__conten-btn {
    font-size: 5rem;
  }
}
