<app-navbar></app-navbar>
<div class="welcom">
  <section class="welcom_section">
    <h1 class="textOne">Hey!!</h1>
    <p class="textTwo">
      Bienvenidos a mi sito web Soy
      <span class="colorOne">Wantherley Vince</span> desarrollador web
      <span class="colorTwo">FrontEnd</span>
    </p>
    <app-buttom [data]="'ABOUT ME'"></app-buttom>
  </section>
</div>
<div class="conten">
  <h2 class="title">Proyect</h2>
  <div class="contenProyect">PROYECT NO FOUND!</div>
  <app-buttom [data]="'MORE PROYECT'"></app-buttom>
</div>
<div class="conten">
  <h2 class="title contac">Contact</h2>
  <div class="contenContac">
    <div class="contacSection">
      <p class="textTree">
        Hey!! Vamos a trabajar juntos clikea abajo y enviame un correo.
      </p>
      <app-buttom [data]="'SEND MAIL'"></app-buttom>
    </div>
    <div class="contacSection">
      <p class="textFour">
        Tambien puedes dar un vistazo a mi redes Te espero, nos vemos
        <br />
        <span class="colorOne">PRONTO</span>
      </p>
      <div class="contenSocial">
        <app-social
          [class]="'linkedin'"
          [url]="'https://www.linkedin.com/in/wanthervince/'"
          [redSocial]="'LINKEDIN'"
          [img]="'ilinkedin'"
        ></app-social>
        <app-social
          [class]="'github'"
          [url]="'https://github.com/wanthervince'"
          [redSocial]="'GIT HUB'"
          [img]="'igithub'"
        ></app-social>
        <app-social
          [class]="'twitter'"
          [url]="'https://twitter.com/wanthervince'"
          [redSocial]="'TWITTER'"
          [img]="'itwitter'"
        ></app-social>
        <app-social
          [class]="'instagram'"
          [url]="'https://www.instagram.com/wanthervince'"
          [redSocial]="'INSTAGRAM'"
          [img]="'iinstagram'"
        ></app-social>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
