.welcom {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcom_section {
  width: 20rem;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.textOne {
  font-size: 4rem;
  color: aliceblue;
}
.textTwo {
  font-size: 2.2rem;
  text-align: center;
  color: aliceblue;
  line-height: 1;
}
.textTree {
  font-size: 23px;
  width: 80%;
  line-height: 1;
}
.textFour {
  font-size: 25px;
  width: 80%;

  line-height: 1;
}
.colorOne {
  color: #09cef9;
}
.colorTwo {
  color: #8728ff;
}

.title {
  font-size: 4rem;
  color: #09cef9;
  text-align: center;
  line-height: 0;
}

.conten {
  width: 100%;
  height: 82%;
  margin-top: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenProyect {
  height: 50rem;
  width: 87%;
  margin-bottom: 1.5rem;
  border: #09cef9 solid 1px;
  border-radius: 20px;
}
.contenContac {
  height: 85%;
  width: 90%;
  color: aliceblue;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btnDown {
  width: 35px;
  height: 35px;
  padding: 5px;
  background: none;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 1rem;
  animation: bote 1s alternate infinite ease-in-out;
}
@keyframes bote {
  0% {
    bottom: 3rem;
  }
  100% {
    bottom: 2rem;
  }
}
.btnDown img {
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
}
@media (min-width: 1000px) {
  .welcom_section {
    margin-top: 2rem;
    width: 59%;
    max-width: 35rem;
  }
  .textOne {
    line-height: 0;
    margin-bottom: 7rem;
    font-size: 9rem;
  }
  .textTwo {
    font-size: 4rem;
  }
  .textTree,
  .textFour {
    width: 40%;
    font-size: 2.5rem;
  }
  .title {
    font-size: 4.5rem;
    line-height: 0;
  }
  .contenContac {
    display: flex;
    width: 60%;
  }
}
