<div class="welcom">
  <section class="welcom_section">
    <h1 class="textOne">Hey!!</h1>
    <p class="textTwo">
      Bienvenidos a mi sito web Soy
      <span class="colorOne">Wantherley Vince</span> desarrollador web
      <span class="colorTwo">FrontEnd</span>
    </p>
    <app-buttom [data]="'ABOUT ME'"></app-buttom>
  </section>
</div>

<div class="conten">
  <h2 class="title">Proyect</h2>
  <div class="contenProyect"></div>
  <app-buttom [data]="'MORE PROYECT'"></app-buttom>
</div>

<div class="conten">
  <h2 class="title">Contact</h2>
  <div class="contenContac">
    <p class="textTree">
      Hey!! Vamos a trabajar juntos clikea abajo y enviame un correo.
    </p>
    <app-buttom [data]="'SEND MAIL'"></app-buttom>
    <p class="textFour">
      Tambien puedes dar un vistazo a mi redes Te espero, nos vemos
      <span class="colorOne">PRONTO</span>
    </p>
  </div>
  <button class="btnDown">
    <img src="../../../assets/img/bntDown.svg" alt="" />
  </button>
</div>
