/* You can add global styles to this file, and also import other style files */
@import url(./normalize.css);
@font-face {
  font-family: "AmaticSC";
  src: url("./assets/fonts/AmaticSC.ttf");
}
@font-face {
  font-family: "Truculenta";
  src: url("./assets/fonts/Truculenta.ttf");
}
body {
  background-color: #21222f;
  font-family: Truculenta;
  overflow-x: hidden;

  position: relative;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: #282935;
}
*::-webkit-scrollbar-thumb {
  background-color: #09cef9;
  border-radius: 20px;
}
