.conten_404 {
  width: 100%;
  height: 100vh;
  background-color: rgb(55, 26, 110);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.text_404 {
  color: aliceblue;
  font-size: 10rem;
  line-height: 0;
}
.text_404_two {
  color: aliceblue;
  font-size: x-large;
  line-height: 0;
  margin-top: -4rem;
}
.conten_img {
  width: 100%;
  height: 20rem;

  position: relative;
}
.img_404 {
  position: absolute;
  width: 20rem;
  height: 100%;
  animation: derecha 13s alternate infinite ease-in-out;
}
@keyframes derecha {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: -15%;
  }
}
.img {
  width: 15rem;
  position: absolute;
  animation: bote 3s alternate infinite ease-in-out;
  transform: rotate(60deg);
}
@keyframes bote {
  0% {
    bottom: 6rem;
  }
  100% {
    bottom: -4rem;
  }
}

@media (min-width: 1000px) {
  .text_404 {
    margin-top: 5rem;
    font-size: 15rem;
  }
  .text_404_two {
    font-size: xx-large;
  }
}
